body {
  /*background-color: #0abab5;*/
  background-color: black;
  color: white;
  text-align: center;
  font-family: Times New Roman;
}
img {
  height: 150px;
  width: 200px;
  display: inline-block;
}
.top {
  width: 300px;
  margin: 0 auto;
  display: inline-block;
}

h1 {
  display: block;
  margin: 0 auto;
}

h3 {
  margin: 0 auto;
  display: inline-block;
  padding: 30px;
}

#author {
  margin: 0 auto;
  display: block;
}

.poems {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
